.certificate-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

.viewer-container {
  width: 80%;
  max-width: 900px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.error-message {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.image-viewer {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  width: 100%; 
  padding: 30px;
  box-sizing: border-box;
}

.image-item {
  width: 100%; /* Adjusted to take full width of the viewer container */
  max-width: 80%; /* Ensure images fit within the container */
  height: auto; 
  object-fit: contain; 
  margin-bottom: 20px; /* Add margin between images */
  border: 1px solid #ddd;
  border-radius: 5px; /* Softer rounded corners */
}

.page-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
}

.page-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-button:hover:enabled {
  background-color: #0056b3;
}

.page-controls span {
  font-size: 16px;
  color: #333;
}
