.skills {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1.5s ease-in-out;
  text-align: center; /* Center the content */
}

.skills h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem; /* Increased size for emphasis */
  color: #333;
}

.skills p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #666;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the list items */
}

.skills li {
  margin: 0.5rem 0;
}.skills {
  padding: 2rem;
  background-color: #cfef9475;
  margin: 1rem auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1.5s ease-in-out;
  text-align: center; /* Center the title */
}

.skills h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.skills p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #666;
  text-align: left; /* Justify content to the left */
  max-width: 600px; /* Optional: Set max-width for better readability */
  margin: 0.5rem auto; /* Center content horizontally */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
